# TOKENS DE APIs PARA MODELOS DE LENGUAJE (LLMs)
GROQ_API_KEY="gsk_m31#######"
GEMINI_API_KEY="AIza######"
MISTRAL_API_KEY="moTHed#####"

# Autenticación Unificada OCI (La misma de Foro Hub)
OCI_USER_ID="ocid1.user.oc1.######"
OCI_TENANCY_ID="ocid1.tenancy.oc1.#####"
OCI_FINGERPRINT="e3:d6:#####"
OCI_REGION=sa-santiago-1
# CREDENCIALES Y ACCESO A OCI (ORACLE CLOUD)
# Ruta absoluta al archivo .pem de tu clave privada en el servidor (ej: /app/certs/oci_private_key.pem)
OCI_PRIVATE_KEY_PATH=/app/certs/oci_private_key.pem

# Datos de conexión limpia a la DB (Sin Wallet)
OCI_DB_USER="#####"
OCI_DB_PASSWORD="######"
OCI_DB_DSN="######"
# CONFIGURACIÓN DE WALLET (ORACLE 26ai)
# Ruta a la carpeta que contiene los archivos descomprimidos de la Wallet
OCI_WALLET_LOCATION="C:/Desarrollo/rag-updater-streamlit/Wallet_forohubdb3"
OCI_WALLET_PASSWORD="#######"