# --- Core Backend & IA ---
groq>=0.11.0
langchain-groq>=0.1.15
python-dotenv>=1.0.1

# --- Conectores Multi-Proveedor ---
langchain-google-genai>=1.0.6
langchain-mistralai>=0.1.7

# --- LangChain Ecosystem ---
langchain-community>=0.2.5
langchain-core>=0.2.9
langchain-text-splitters>=0.2.0

# --- Base de Datos Vectorial Real ---
faiss-cpu>=1.8.0

# --- Herramientas de Búsqueda (Sin dependencia de Rust) ---
duckduckgo-search==5.3.1.b1

# --- Frontend Interactivo ---
streamlit>=1.36.0
streamlit-cookies-controller>=0.0.2

# --- DB Oracle ---
oracledb>=2.0.0

# Librerías para los Embeddings de OCI
langchain-huggingface
sentence-transformers

# Configuración de repositorio liviano para PyTorch (Evita bajar 3GB de CUDA)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision